.banner {
  width: 100%;
  display: flex;
  height: 4rem;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.banner > img {
  width: 3rem;
}

/* #myfavorites {
  margin-right: 20rem;git p
} */

.locationDisplay {
  text-align: center;
  padding: 2rem;
}

#map {
  width: 100%;
  height: 40%;
}

.homeBolt {
  min-width: 85px;
  max-width: 85px;
  max-height: 105px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  align-items: center;
}

.chargerDisplay {
  width: 400px;
}

.weatherDisplay {
  display: flex;
  align-items: center;
}

.detailed-forecast-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.detailedForecast {
  /* margin: 0 15%; */
}

/* main {
  position: relative;
} */

.modal {
  position: fixed;
  background-color: rgb(0 0 0 / 82.9%);
  color: red;
  border: solid black;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-box {
  position: fixed;
  padding-top: 3rem;
  text-align: center;
  width: 500px;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-box > button {
  margin: 3rem;
  padding: 0.5rem 1rem;
}
